body{
background-image: linear-gradient(to right top, #33a0f1, #2591d9, #1882c1, #0a73aa, #006494);
}
.header_div{
    background-color: white;
    color: rgb(225, 65, 65);
}
.header_div img{
    width: 100px;
}

.main_div{
    background-color: whitesmoke;
    padding: 10px;
    margin-top: 23px;
    border: 3px solid black;
}

.main_div label{
    background-color: orange;
    width: 310px;
    padding: 10px;
    margin-top: 0px;
    box-shadow: 5px 5px 10px grey;
}

.footer_div{
    margin-bottom: 50px;
}

.footer_div h4{
    background-color:cornflowerblue;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 5px 5px 10px grey;
}

.footer_div img{
    width: 70px;
}
footer{
    position:fixed;
    bottom:0;
    color: whitesmoke;
    background-color: grey;
    width: 100%;
    line-height: 2;
    text-align: center;
}
center{
    font-family: 'Lobster';
}
#camera, #result{
    border: 2px solid black;
    width: 310;
    height: 300;
    box-shadow:  20px 20px 10px grey;
}
#captured_img{
    height: 300;
    width: 300;
}